<odoo>
    <data>
    <menuitem name="Transport Des Produits Petroliers"
      id="transport_app.menu_root"
      web_icon="transport_app,static/description/icon.png" />

          <menuitem name="Livres de Voyages"
                    id="transport_app.livre"
                    parent="transport_app.menu_root"
                    action="transport_app.view_livre_voyage_action"
                    sequence="1"
                     groups="transport_app.group_transport,transport_app.group_respo_transport"
          />
        <menuitem name="Suivi Des Chauffeurs"
                  id="transport_app.suivi"
                  parent="transport_app.menu_root"
                  sequence="2"
                  groups="transport_app.group_suivi_driver,transport_app.group_respo_suivi_driver"
                />
                 <menuitem name="Liste des Chauffeurs"
                      id="transport_app.driver"
                      parent="transport_app.suivi"
                      action="transport_app.view_driver_action"
                      sequence="1"
                           groups="transport_app.group_suivi_driver,transport_app.group_respo_suivi_driver"
                />
                <menuitem name="Liste Aides Chauffeurs"
                      id="transport_app.helpdriver"
                      parent="transport_app.suivi"
                      action="transport_app.view_help_driver_action"
                      sequence="2"
                          groups="transport_app.group_suivi_driver,transport_app.group_respo_suivi_driver"
                    />

                 <menuitem name="Incidents-Formations-Santions-Bonifications"
                          id="transport_app.training"
                          parent="transport_app.suivi"
                          action="transport_app.view_driver_suivi_action"
                          sequence="3"
                           groups="transport_app.group_suivi_driver,transport_app.group_respo_suivi_driver"
                        />

         <menuitem name="Parc automobile"
                    id="transport_app.fleetr"
                    parent="transport_app.menu_root"
                    action="fleet.fleet_vehicle_action"
                    sequence="3"
                   groups="transport_app.group_parc_auto,transport_app.group_respo_parc_auto"
          />



        <menuitem name="Configuration"
                  id="transport_app.config"
                  parent="transport_app.menu_root"
                  sequence="4"
                  groups="transport_app.group_maintenance,transport_app.group_respo_maintenance"

                />

         <menuitem name="Les Pieces Administratives"
                  id="transport_app.pieces"
                  parent="transport_app.config"
                   action="transport_app.view_piece_action"
                  sequence="1"
                   groups="transport_app.group_respo_maintenance"
                />

         <menuitem name="Les Receveurs de SMS"
                   id="transport_app.sms"
                   parent="transport_app.config"
                   action="transport_app.view_sms_receiver_action"
                   groups="transport_app.group_respo_maintenance"
                  sequence="2"

                />

        <menuitem name="Les Depots"
                  id="transport_app.depot"
                  parent="transport_app.config"
                  action="transport_app.view_depot_action"
                  sequence="3"
                  groups="transport_app.group_respo_maintenance"
                />

         <menuitem name="Les Produits"
                   id="transport_app.prduct"
                   parent="transport_app.config"
                   action="transport_app.view_product_action"
                   sequence="3"
                   groups="transport_app.group_respo_maintenance"
                />








    </data>
</odoo>