<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <!--_____________LES PIECES___________________-->
        <record model="ir.ui.view" id="view_piece_tree">
            <field name="name">Les Pieces Administratives</field>
            <field name="model">pieces.admin</field>
            <field name="arch" type="xml">
                <tree string="Les pieces admin">
                    <field name="name"/>
                    <field name="type"/>
                </tree>
            </field>
        </record>

        <record model="ir.ui.view" id="view_piece_form">
            <field name="name">Les Pieces Administratives</field>
            <field name="model">pieces.admin</field>
            <field name="arch" type="xml">
                <form string="Les Pieces Administratives">
                    <p class="oe_grey">
                                    Cr&#233;ez / &#233;ditez vos donn&#233;es sur Les Pieces Administratives
                    </p>
                    <header>

                    </header>
                    <sheet>

                         <group string="Noms de la pieces">
                            <group>
                                <field name="name"/>
                                <field name="type"/>
                            </group>
                        </group>

                    </sheet>
                </form>
            </field>
        </record>

        <record id="view_piece_action" model="ir.actions.act_window">
                <field name="name">Les Pieces Administratives</field>
                <field name="res_model">pieces.admin</field>
                <field name="type">ir.actions.act_window</field>
                <field name="view_id" ref="view_piece_tree"/>
                <field name="view_mode">tree,form</field>
                <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Creez vos Voyages ici
              </p><p>
                Pour creer une pieces,
                cliquer sur le buton creer en haut a gauche de ce message
              </p>
            </field>
        </record>

    <!--_____________LES RECEPTEURS DE SMS_____________-->
        <record model="ir.ui.view" id="view_sms_receiver_tree">
            <field name="name">Les Recepteurs de SMS</field>
            <field name="model">sms.recevier</field>
            <field name="arch" type="xml">
                <tree string="Les Recepteur de SMS">
                    <field name="partner_id"/>
                    <field name="tel"/>
                </tree>
            </field>
        </record>

        <record model="ir.ui.view" id="view_sms_receiver_form">
            <field name="name">Les Recepteurs de SMS</field>
            <field name="model">sms.recevier</field>
            <field name="arch" type="xml">
                <form string="Les Recepteurs de SMS">
                    <p class="oe_grey">
                                    Cr&#233;ez / &#233;ditez vos donn&#233;es sur Les Recepteurs de SMS
                    </p>
                    <header>

                    </header>
                    <sheet>

                         <group string="Noms des receveurs de SMS">
                            <group>
                                <field name="partner_id"/>
                                <field name="tel"/>
                            </group>
                        </group>

                    </sheet>
                </form>
            </field>
        </record>

        <record id="view_sms_receiver_action" model="ir.actions.act_window">
                <field name="name">Les  Recepteurs de SMS</field>
                <field name="res_model">sms.recevier</field>
                <field name="type">ir.actions.act_window</field>
                <field name="view_id" ref="view_sms_receiver_tree"/>
                <field name="view_mode">tree,form</field>
                <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Creez vos Les Recepteurs de SMS
              </p><p>
                Pour creer une pieces,
                cliquer sur le buton creer en haut a gauche de ce message
              </p>
            </field>
        </record>




            <!--_____________LES CHAUFFEURS___________________-->
        <record model="ir.ui.view" id="view_driver_tree">
            <field name="name">Les Chauffeurs</field>
            <field name="model">fleet.driver</field>
            <field name="arch" type="xml">
                <tree string="Les Chaufffeurs">
                    <field name="partner_id"/>
                    <field name="tel"/>
                    <field name="company_id"/>
                </tree>
            </field>
        </record>

        <record model="ir.ui.view" id="view_driver_form">
             <field name="name">Les Chauffeurs</field>
            <field name="model">fleet.driver</field>
            <field name="arch" type="xml">
                <form string="Les  Chauffeurs">
                    <p class="oe_grey">
                                    Cr&#233;ez / &#233;ditez vos donn&#233;es sur Les Chauffeurs
                    </p>
                    <header>

                    </header>
                    <sheet>

                         <group string="Informations sur le chaffeurs">
                            <group>
                                <field name="partner_id" string="Noms et Prénoms"/>
                                <field name="tel"/>
                                <field name="company_id"/>
                                <field name="help_driver"/>
                            </group>
                        </group>

                        <notebook>
                            <page string="Dossiers Administratifs du Chauffeur">
                                <field name="piece_ids" domain="[('type', '=', 'driver')]">
                                   <tree  string="Dossiers Administratifs du Chauffeur" editable="top">
                                       <field name="piece_id"  domain="[('type', '=', 'driver')]" />
                                       <field name="date_start"/>
                                       <field name="date_expi"/>
                                   </tree>
                                </field>
                            </page>
                        </notebook>

                    </sheet>
                </form>
            </field>
        </record>

        <record id="view_driver_action" model="ir.actions.act_window">
                <field name="name">Les Chauffeurs</field>
                <field name="res_model">fleet.driver</field>
                <field name="type">ir.actions.act_window</field>
                <field name="view_id" ref="view_driver_tree"/>
                <field name="view_mode">tree,form</field>
                <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Creez vos Voyages ici
              </p><p>
                Pour creer un Chaufeur,
                cliquer sur le buton creer en haut a gauche de ce message
              </p>
            </field>
        </record>


    <record id="view_help_driver_action" model="ir.actions.act_window">
                <field name="name">Les Aides Chauffeurs</field>
                <field name="res_model">fleet.driver</field>
                <field name="type">ir.actions.act_window</field>
                <field name="view_id" ref="view_driver_tree"/>
                <field name="view_mode">tree,form</field>
                <field name="domain">[('help_driver', '=', True)]</field>
                <field name="help" type="html">
              <p class="o_view_nocontent_smiling_face">
                Creez vos Aides Chaufeurs ici
              </p><p>
                Pour creer un Aide Chaufeur,
                cliquer sur le buton creer en haut a gauche de ce message
              </p>
            </field>
        </record>



 <!--_____________Insertion LES PIECES Dans le fleet___________________-->

      <record id="fleet_vehicle_view_form_inherit" model="ir.ui.view">
        <field name="name">fleet.vehicle.form.inherit</field>
        <field name="model">fleet.vehicle</field>
        <field name="inherit_id" ref="fleet.fleet_vehicle_view_form" />
        <field name="arch" type="xml">
             <xpath expr="//page[@name='page_tax_info']" position="replace">
                 <page string="Dossiers Administratifs du vehicule">
                <field name="piece_ids" >
                   <tree  string="Les Pieces Administratives" editable="top">
                       <field name="piece_id"/>
                       <field name="date_start"/>
                       <field name="date_expi"/>
                   </tree>
                </field>
                     <field name="tel" />
                 </page>

                 <page string="Assurance et Jaugeage">
                     <group>
                     <group>
                         <field name="subscribteur" string="Subcripteur"/>
                     </group>
                     <group>
                         <field name="insurance" string="Assurance"/>
                     </group>
                      </group>
                     <field name="jaugeage_ids">
                           <tree  string="Le Certificate Jaujeage" editable="top">
                               <field name="name"/>
                               <field name="creu"/>
                           </tree>
                     </field>
                 </page>


            </xpath>
            <xpath expr="//field[@name='future_driver_id']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>



            <xpath expr="//field[@name='plan_to_change_car']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>
             <xpath expr="//field[@name='write_off_date']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>


            <xpath expr="//field[@name='co2_standard']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>
            <xpath expr="//field[@name='tag_ids']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>

            <xpath expr="//field[@name='trailer_hook']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>

             <xpath expr="//field[@name='order_date']" position="attributes">
                <attribute name="invisible">1</attribute>
            </xpath>

            <xpath expr="//field[@name='co2']" position="before">
                 <label for="co2" string="Numero" />
            </xpath>

            <xpath expr="//field[@name='driver_id']" position="replace">
               <field name="driverid"/>
                <field name="company_id" string="Sociéte Chauffeur"/>
            </xpath>


<!--            <xpath expr="//field[@name='driver_id']" position="replace">-->
<!--               <label for="location"  string="Capacite en L"  />-->
<!--            </xpath>-->

        </field>
    </record>


</odoo>

